# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.ico
.com.apple.timemachine.donotpresent

# VS Code
.vscode/
*.code-workspace

# Node modules (si los tienes)
node_modules/

# Archivos de sistema
Thumbs.db
ehthumbs.db
Desktop.ini
